# Environnements virtuels
env/
.venv/
*.pyc
*.pyo
__pycache__/

# Fichiers temporaires
*.swp
*.log

# Configurations locales
.vscode/
.idea/
.DS_Store

# Dépendances
*.egg-info/
.Python

# Exclure toutes les images PNG
*.png